body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1175px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:582px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:582px;
}
#u26897 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:283px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26898 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:169px;
  width:395px;
  height:54px;
}
#u26899 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:391px;
  word-wrap:break-word;
}
#u26900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26900 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:251px;
  width:395px;
  height:54px;
}
#u26901 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:391px;
  word-wrap:break-word;
}
#u26902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:43px;
}
#u26902 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:176px;
  width:1px;
  height:42px;
}
#u26903 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u26904 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:251px;
  width:54px;
  height:54px;
}
#u26905 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:43px;
}
#u26906 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:257px;
  width:1px;
  height:42px;
}
#u26907 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u26908 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:419px;
  width:213px;
  height:50px;
  font-size:28px;
}
#u26909 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:209px;
  word-wrap:break-word;
}
#u26910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26910 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:329px;
  width:395px;
  height:54px;
}
#u26911 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:391px;
  word-wrap:break-word;
}
#u26912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u26912 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:329px;
  width:54px;
  height:54px;
}
#u26913 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:43px;
}
#u26914 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:335px;
  width:1px;
  height:42px;
}
#u26915 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u26916 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:97px;
  width:145px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u26917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u26918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u26918 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:66px;
  width:217px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u26919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u26920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u26920 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:170px;
  width:54px;
  height:54px;
}
#u26921 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
